.back-container {
    background: linear-gradient(to bottom, rgba(136, 83, 170, 100), rgba(198, 171, 216, 100));
}

.back-f {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #282323;
}

.bg-primary {
    background-color: transparent;
}

.back-h {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(to bottom, rgb(135, 82, 169), rgb(147, 99, 177));
}

.colour-white {
    color: #ffffff;
}

.li-background{
    background-color: transparent;
    color: #ffffff;
    height: 30px;
    width: 500px;
    margin-bottom: 5px;
    margin-left: 30%;

}

.li_theme:hover{
    background-color: rgb(188, 163, 206);
    transition: ease-in-out 20ms;
}

.a-color{
    text-overline-style: none;
    color: #ffffff;
}

.a-color:hover {
    text-overline-style: none;
    border-radius: 3px;
    color: #ffffff;
    transition: ease-in-out 20ms;
    opacity: 100%;
}

